@model Product

<h2 style="text-align: center;">Thông Tin Sản Phẩm <strong>@Model.ID</strong> </h2>
<div style="text-align: center;" class="card bg-primary ">
    <p class="card-header">Tên sản phẩm:  @Model.Name</p>
    <div class="card-body">
        <a>Giá :@Model.Price</a>
    </div>

</div>