@model string

<div class="card bg-primary text-danger">
    <h1 class="card-footer">Xin chào @Model</h1> 
    <div class="card-body">
        <p class="card-text">
            Thông tin chung Test ASP NET MVC
        </p>
    </div>

</div>