@{
    ViewData["Title"] = "Xóa Database";
}
<partial name="_StatusMessage"/>
<p class="alert alert-danger">
    Có chắc chắn xóa DataBase ?
</p>
<form method="post">
    <button type="submit" class="btn btn-danger">
        Xóa Db
    </button>

    <hr>
    <a asp-action = "Index"> Quay trở lại</a>
</form>